#app {
    min-height:100vh; /* 1 */
    display:flex; /* 2 */
    flex-direction:column; /* 3 */
}
main {
    flex-grow: 1;
}
body::before {
    content:'';
    background: url(../../../storage/pages/wave-1.svg);
    background-size: auto;
    background-size: cover;
    position: fixed;
    bottom: 0;
    height: 40%;
    width: 100%;
    z-index: -1;
}

.container-full {
    @apply bg-white rounded-lg shadow p-5 mt-2;
}
